#addBox{
    margin-left: 60px;
    width: max-content;
    margin-top: 10px;
    border: 1px solid #363636;
}
img{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
#msgArea{
    height: 89%;
    overflow-y: auto;
}
#contents{
    margin-top: 10px;
}
#MessageBoxs{
    overflow-y: scroll;
    width: 276px;
    height: 605px;
    position: absolute;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid #363636;
}
.MessageBox{
    display: flex;
    /* padding-right: 79px; */
    padding-right: 45px;
    margin-left: 15px;
    overflow-x: hidden;
    max-width: 185px;
    margin-top: 15px;
    border: 1px solid #363636;
}
.left{
    background-color:black;
    border:1px solid #363636;
    margin-left: 20px;
}
.right{
    background-color:#363636;
    margin-left:500px;
    margin-right: 20px;
    display:block;
    float: right;
}
#border{
    border: 1px solid #363636;
    width: 610px;
    height: 597px;
    margin-left: 500px;
    padding: 5px;
}
#feedback{
    margin: auto;
    text-align: left;
}
#footer{
    display: block;
    width: 550px;
    margin: auto;
} 
input{
    height: 30px;
    width: 440px;
    border: none;
    outline: none;
}
button{
    border: none;
    margin-left: 10px;
    width: 55px;
    height: 30px;
    background-color: black;
    color: dodgerblue;
    outline: none;
}        
#msg{
    max-width: 200px;
    width: max-content;
    margin-top: 20px; 
    padding: 10px;
    border-radius: 25px;
    word-wrap: break-word;  
    overflow-y: auto;
    text-decoration: none;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bar{
    border: 1px solid gray;
    display: flex;
    padding: 5px;
    border-radius: 25px;
    justify-content: center ;
}
.tema{
    background-color: black;
    color: white;
}
