.deleteMessageBox{
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-top: -50px;
    margin-right: -67px;
    float: right;
}
.deleteMessageBox:hover{
    background-color: white;
    color: black;
}
.addBox{
    margin-left: 25px;
    width: max-content;
    margin-top: 10px;
    /* border: 1px solid #363636; */
}
#joinBox{
    float: right;
    margin-right: 35px;
    width: max-content;
}
img{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
#msgArea{
    height: 89%;
    overflow-y: auto;
}
#contents{margin-top: 15px;}
#contents div{width: 130px;}

/* #contents div{width: max-content;float: left;} */
a{text-decoration: none; color: white;}
#MessageBoxs{
    display: block;
    overflow-y: scroll;
    width: 320px;
    height: 607px;
    position: absolute;
    margin-left: 11%;
    border: 1px solid #363636;
}
.MessageBox{
    display: flex;
    padding: 9px;
    padding-right: 45px;
    overflow-x: hidden;
    max-width: 285px;
    /* border: 1px solid #363636; */
    height: 60px;
}
.allBox{
    width: 200px;
}
/* .allBox:hover{
    background-color: #363636;
} */
/* .MessageBox:hover{background-color: #363636;} */
.left{
    background-color:black;
    border:1px solid #363636;
    margin-left: 20px;
}
.right{
    background-color:#363636;
    margin-left:500px;
    margin-right: 20px;
    display:block;
    float: right;
}
.selfName, .selfSpan{
    border: none;
    outline: none;
}
#border{
    border: 1px solid #363636;
    width: 610px;
    height: 597px;
    margin-left: 35%;
    padding: 5px;
}
#feedback{
    margin: auto;
    text-align: left;
}
#footer{
    display: block;
    width: 550px;
    margin: auto;
} 
#data{
    height: 30px;
    width: 440px;
    border: none;
    outline: none;
}
button{
    border: none;
    margin-left: 10px;
    width: 55px;
    height: 30px;
    background-color: black;
    color: dodgerblue;
    outline: none;
}        
#msg{
    max-width: 200px;
    width: max-content;
    margin-top: 20px; 
    padding: 10px;
    border-radius: 25px;
    word-wrap: break-word;  
    overflow-y: auto;
    text-decoration: none;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bar{
    border: 1px solid gray;
    display: flex;
    padding: 5px;
    border-radius: 25px;
    justify-content: center ;
}
.tema{
    background-color: black;
    color: white;
}
